.edit-able {
  padding: 0px 0px !important;
  margin: 0px 0px !important;
  position: relative;
}
.edit-able input {
  flex: 1;
  pointer-events: none;
}
.editing {
  gap: 15px;
}
.editing input {
  padding: 5px;
  pointer-events: all;
}
.editing input {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px !important; */
  /* border: 0.5px solid #3c4043; */
  transition: all 0.5s;
}
.editing .input-underline::before {
  content: '';
  position: absolute;
  bottom: 0px;
  height: 1px;
  left: 0;
  right: 24%;
  background-color: rgba(60, 64, 67, 0.15);
}
@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.form-presenter {
  transition: all 0.5s;
}
.form-presenter.presenter-editing {
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background: #f9f9f9;
  padding: 20px 0px;
}

.form-presenter.presenter-editing input {
  background-color: #f9f9f9;
}
