.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 9px !important;
}
.MuiFormControl-root,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #e1e6eb !important;
  border-width: 2px !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input::placeholder {
  color: #777777 !important;
  opacity: 0.9 !important;
  font-weight: 550 !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-error
  .MuiOutlinedInput-notchedOutline {
  border-color: #d32f2f !important;
}
