.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 150px;
  align-items: center;
}
.spinner {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  box-shadow: 20px 0px 0 0 rgba(12, 16, 242, 0.2),
    16.2px 11.8px 0 0 rgba(12, 16, 242, 0.4),
    6.2px 19px 0 0 rgba(12, 16, 242, 0.6),
    -6.2px 19px 0 0 rgba(12, 16, 242, 0.8), -16.2px 11.8px 0 0 #0c10f2;
  animation: spinner-b87k6z 1s infinite linear;
}

@keyframes spinner-b87k6z {
  to {
    transform: rotate(360deg);
  }
}
