.register-container {
  background-color: white;
  height: 100vh;
}
.header-regiser {
  padding: 0rem 1rem;
}
.header-regiser h1 {
  color: black;
}
.register-wrapper {
  color: var(--text-dark);
  font-weight: 600;
}
.form-container {
  margin: 0 auto;
  padding: 2rem 6rem;
  position: relative;
}
.wrapper-form {
  /* background-color: #f0f0f0; */
  /* box-shadow: 0 2px 10px 0 rgb(0 0 0 / 5%); */
  /* background-color: wheat; */
  padding: 10px 20px;
}
.select-style {
  font-weight: 400;
  height: 40px;
}
.register-steps {
  opacity: 0;
  display: none;
}
.appear {
  animation: smoothAppear 1s ease-in-out forwards;
  transition: all 0.5s ease-in-out;
}
.header-register {
  /* border: 2px solid blue; */
  height: 15%;
}
.header-register h3 {
  /* text-align: left; */
}
.body-register {
  /* border: 2px solid red; */
  height: 70%;
  position: relative;
}
.body-register p {
  margin-bottom: 5px;
}
.body-register input {
  border-radius: 5px;
}
.body-register .form-group {
  margin-bottom: 1rem;
}
.register-btn {
  /* border: 2px solid red; */
  /* position: absolute; */
  /* right: 0; */
  display: flex;
  justify-content: right;
  gap: 5px;
}
.register-btn button {
  margin: 0px 0px;
}

@keyframes smoothAppear {
  0% {
    opacity: 0;
    display: none;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
@keyframes smoothImg {
  0% {
    opacity: 0;
    background: url("../../images/background/bg6.jpg") no-repeat center
      center/cover fixed;
  }
  25% {
    opacity: 1;
    background: url("../../images/background/bg6.jpg") no-repeat center
      center/cover fixed;
  }
  50% {
    opacity: 1;
    background: url("../../images/background/bg2.jpg") no-repeat center
      center/cover fixed;
  }
  100% {
    opacity: 1;
    background: url("../../images/background/bg2.jpg") no-repeat center
      center/cover fixed;
  }
}
.register-img {
  /* background: url("../../images/background/bg1.jpg") no-repeat center
    center/cover fixed; */

}
