.nav-container {
  background-color: white;
  transition: all ease-in-out 0.5s;
  /* max-width: var(--breakpoint-xxl); */
  width: 100%;
  padding: 0px 20px;
}
.stick.nav-container {
  z-index: 99999;
  background-color: transparent;
  position: fixed;
  left: 0;
  right: 0;
  transition: all ease-in-out 1s;
  animation: move 1s ease-in-out forwards;
}
.nav-container .header-nav {
  margin: 0 auto;
  padding: 40px 0px;
}

@keyframes move {
  0% {
    transform: translateY(-100%);
    left: 0;
    right: 0;
  }
  100% {
    position: fixed;
    transform: translateY(0);
  }
}
@media (min-width: 350px) {
  .header-nav-logo-img {
    width: 100px;
  }
}

@media (min-width: 768px) {
  .nav-container {
    padding: 0px 40px;
  }
  .header-nav-logo-img {
    width: 120px;
    height: auto;
  }
}
