.title-cv{
    text-align: center;
    font-weight: 600 !important;
    background-color:aqua !important;
}
.answer{
    font-weight: 570 !important;
}
.header-cv{
    text-align: center;
    font-weight: 700 !important;
}