.title-cv{
    text-align: center;
    font-weight: 600 !important;
    background-color:#efeded !important;
}
.answer{
    font-weight: 550 !important;
}
.header-cv{
    text-align: center;
    font-weight: 700 !important;
}
.pri{
    border: 1px solid #000 !important;
 }
 .header-sec{
    font-weight: 500 !important;
    margin: 10pxv !important;
    color: black !important;
 }
 .exp-work{
    text-align: center;
 }