.dropdown-custom {
  /* border: 2px solid red; */
  position: relative;
  margin: 0px auto;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 550;
}
.select-box {
  display: flex;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px !important;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px;
}
.result-box {
  display: flex;
}
.result-item {
  margin-right: 5px;
}
.input-box {
  display: flex;
  flex-grow: 2;

  /* border: 2px solid red; */
}
.input-box input {
  background-color: transparent;
  font-weight: 550;
}
.select-box i {
  color: gray;
  font-weight: 500;
  font-size: 15px;
  margin-right: 10px;
}
.dropdown-box {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: absolute;
  margin-top: 10px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #fff;
  display: none;
}
.dropdown-box.show {
  display: block;
}
.dropdown-custom .dropdown-item {
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  user-select: none;
  font-size: 14px;
  font-weight: 550;
}
.dropdown-custom .dropdown-item:hover {
  background-color: #deebff;
}
.dropdown-custom .item-checkbox input {
  height: 18px;
  width: 18px;
}
